<div class="bg">
  <div class="center" id="login">
    <h2 id="welcome-back" class="center">Welcome</h2>
    <div class="button-container">
      <button class="card" (click)="openLoginSP()">
        <img src="../assets/Icons/service-icon.png" />
        <br />
        Service Provider
      </button>
      <button class="card" (click)="openLoginUser()">
        <img src="../assets/Icons/icons8-male-user-64.png" />
        <br />
        User
      </button>
      <button class="card" (click)="openLoginAdmin()">
        <img src="../assets/Icons/admin-icon.png" />
        <br />
        Admin
      </button>
    </div>
  </div>
</div>
