<div style="display: flex; justify-content: center; align-items: center;">
  <h1 style="text-align: center; text-transform: capitalize;"> Welcome, {{name}}</h1>
</div>

<div id="home">
  <p class="bold">Bills</p>

  <table>
    <thead>
      <tr>
        <th>Service
          <select [(ngModel)]="filterService">
            <option value="">All</option>
            <option value="Water">Water</option>
            <option value="Electricity">Electricity</option>
            <option value="Telephone">Telephone</option>
          </select>
        </th>
        <th>Date <select [(ngModel)]="filterDueDate">
            <option value="">All</option>
            <option *ngFor="let date of Dates" [value]="date">{{ date | date }}</option>
          </select></th>
        <th>Amount </th>
        <th>Status <select [(ngModel)]="filterStatus">
            <option value="">All</option>
            <option value="Due">Due</option>
            <option value="Paid">Paid</option>
          </select></th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of filteredBills; let i=index;">
        <td>{{ bill.service }}</td>
        <td>{{ bill.date }}</td>
        <td>{{ bill.amount }}</td>
        <td>{{ bill.status }}</td>
        <td id="btnDiv" *ngIf="bill.status=='Due'" (click)="payBill(i)" routerLink="/main/payment"><button>Pay</button>
        </td>
        <td id="btnDiv" *ngIf="bill.status=='Paid'"><button>View Reciept</button></td>

      </tr>
    </tbody>
  </table>
  <br /><br />
</div>