<div id="home">
    <p class="bold"> Due Bills</p>
 
    <table>
        <thead>
          <tr>
            <th>Service</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of DueBills">
            <td>{{ bill.service }}</td>
            <td>{{ bill.amount }}</td>
            <td>{{ bill.DueDate }}</td>
      
            <td id="btnDiv"><button >Pay</button></td>
          </tr>
        </tbody>
      </table>
  <br> <br>
    <p class="bold" >Recent Payment</p>
    <table>
        <thead>
          <tr>
            <th>Service</th>
            <th>Amount</th>
            <th>Payment Date</th>
            <th>Payment Type</th>
            <th>View Invoice</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of CompletedBills">
            <td>{{ payment.service }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.paymentDate }}</td>
            <td>{{payment.paymentType}}</td>
            <td id="btnDiv"><button >View</button></td>

          </tr>
        </tbody>
      </table>
</div>

