
<div class="header">
    <img src="../assets/Icons/icons8-male-user-64.png">
    <h1>User Info</h1>
  </div>
  <div id="main">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
    </label>
      <input type="text" formControlName="firstname">
   
    <br>
    <label>
        Last Name:
    </label>
        <input type="text" formControlName="lastname">
      
      <bR>
    <label>
      Email:
    </label>
      <input type="email" formControlName="email">
    
    <br>
    <label>
      National ID:
    </label>
      <input type="text" formControlName="nationalid" readonly>
   
    <br>
    <label>
      Date of Birth:
    </label>
      <input type="text" formControlName="DOB">
   
    <br>
    <label>
       Address:
    </label>
        <input type="text" formControlName="address">
    
      <br>
    <button id="change"   type="submit">Change</button>
  </form>
  </div>