<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstname">
    </label>
    <label>
        Last Name:
        <input type="text" formControlName="lastname">
      </label>
    <label>
      Email:
      <input type="email" formControlName="email">
    </label>
    <label>
      National ID:
      <input type="text" formControlName="nationalid" readonly>
    </label>
    <label>
      Date of Birth:
      <input type="text" formControlName="DOB">
    </label>
    <button type="submit">Save changes</button>
  </form>
  