<div class="header-div-two">
  <p class="header-two">service providers offers</p>
</div>

<div>
  <!-- *ngFor="" hot hena el ng for bel3adad ely enta 3yzo -->

  <div class="container" *ngFor="let SP of cards;">
    <div class="title">
      <p>{{SP.name | uppercase }}</p>
    </div>
    <div class="rectangle">
      <div class="scrollable">
        <div class="item" *ngFor="let offer of SP.offers ; let offerID = index" >
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">{{offer.category}}</h5>
              <p class="card-text">{{offer.minutes + ' minutes'}}</p>
              <p class="card-text">{{offer.price + ' EGP'}}</p>
              <button class="button-primary" (click)="subscribe(SP.id, offerID)" >Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
