<div class="bg">
  <div class="center" id="login">
    <h2 id="welcome-back" class="center">Login</h2>
    <form
      [formGroup]="loginForm"
      #f="ngForm"
      (ngSubmit)="onLogin(loginForm, 'nationalId', 'password')"
    >
      <div class="center">
        <div class="input-div">
          <label class="login-label">National id</label>
          <input
            class="login-input"
            formControlName="nationalId"
            [(ngModel)]="user.nationalId"
          />
          <div
            *ngIf="
              loginForm.get('nationalId')?.invalid &&
              (loginForm.get('nationalId')?.dirty ||
                loginForm.get('nationalId')?.touched)
            "
          >
            <span class="warning" *ngIf="loginForm.get('nationalId')?.errors">
              National ID is required and should be 14 digits
            </span>
          </div>
        </div>

        <div class="input-div">
          <label class="login-label">Password</label>
          <input
            class="login-input"
            type="password"
            formControlName="password"
            [(ngModel)]="user.password"
          />
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.dirty
            "
          >
            <span class="warning" *ngIf="loginForm.get('password')?.errors">
              Password is required
            </span>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="login-btn" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </div>
    </form>
    <div class="register center">
      <label class="">Don't have an account? </label>
      <button class="register-btn" (click)="register()">Register Here</button>
    </div>
  </div>
</div>
