<div id="login">
  <h2>Login</h2>
  <form
    [formGroup]="loginForm"
    #f="ngForm"
    (ngSubmit)="onLogin(loginForm, 'nationalId')"
  >
    <!-- <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
      <div
        *ngIf="
          loginForm.get('email')?.invalid &&
          (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
        "
      >
        <div *ngIf="loginForm.get('email')?.errors">Email is required</div>
        <div *ngIf="loginForm.get('email')?.errors">Invalid email format</div>
      </div>
    </div> -->
    <div>
      <label>National id</label>
      <input formControlName="nationalId" [(ngModel)]="user.nationalId" />
      <div
        *ngIf="
          loginForm.get('nationalId')?.invalid &&
          (loginForm.get('nationalId')?.dirty ||
            loginForm.get('nationalId')?.touched)
        "
      >
        <div *ngIf="loginForm.get('nationalId')?.errors">
          National ID is required
        </div>
        <div *ngIf="loginForm.get('nationalId')?.errors">
          National ID should be 14 digits
        </div>
      </div>
    </div>
    <div>
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        [(ngModel)]="user.password"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid && loginForm.get('password')?.dirty
        "
      >
        <div *ngIf="loginForm.get('password')?.errors">
          Password is required
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <button (click)="register()">Register</button>
</div>
