<div class="header-div-two"> 
  <!-- <img class="water-icon-header" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"> -->
  <h2 class="header-two">Current Bill</h2>
</div>

<div class="current-bill">
  <div class="water-usage">
    <label for="water-usage-input">Enter Amount of Water Used:</label>
    <input type="number" [(ngModel)]="waterUsage" id="water-usage-input">
    <button (click)="calculateBill()">Calculate Bill</button>
  </div>
  <div class="bill-amount">
    <p>Your Bill Amount:</p>
    <span id="bill-amount-display">{{ billAmount }}</span>
  </div>
  <div class="submitbtn">
    <button (click)="submitBill()">Submit Bill</button>
  </div>
</div>

<div class="header-div-two">
  <!-- <img class="water-icon-header" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"> -->
  <h2 class="header-two">Due Bills</h2>
</div>
<p *ngIf="flag">Loading...</p>

<div class="table-div">
  <table class="bills-table">
    <thead>
      <tr>
        <th></th>
        <th>Bill Date</th>
        <th>Amount Due</th>
       
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of dueBills; let i = index">
        <td><img class="water-icon" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"></td>
        <td>{{ bill.date }}</td>
        <td>{{ bill.amount }}</td>
       
        <td>
          <div class="table-btn">
            <button class="pay-btn" (click)="payBill(i)">Pay</button>
          </div>
        </td>
      </tr>
      <tr *ngIf="DueNone">
        <td colspan="5">No Bills Due</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="header-div-two">
  <!-- <img class="water-icon-header" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"> -->
  <h2 class="header-two">Recent Bills Paid</h2>
</div>

<div class="table-div">
  <table class="bills-table">
    <thead>
      <tr>
        <th></th>
        <th>Bill Date</th>
        <th>Amount Paid</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of paidBills">
        <td><img class="water-icon" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"></td>
        <td>{{ bill.date }}</td>
        <td>{{ bill.amount }}</td>
        <td>
          <button class="pay-btn" (click)="viewReceipt(bill)">View Receipt</button>
        </td>
      </tr>
      <tr *ngIf="paidNone">
        <td colspan="4">No Bills Paid</td>
      </tr>
    </tbody>
  </table>
</div>