<div class="header-div-two"> 
  <!-- <img class="water-icon-header" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"> -->
  <p class="header-two">Current Bill</p>
</div>

<div class="current-bill">
  <div>
    <p class="water-bill">Water Bill</p>
   <!-- <p class="due-date">Due Date: </p>-->
    <p class="unit-price">Unit Price: {{this.waterUnitPrice}} EGP/ M3</p>
  </div>
  <div class="centers">
    <label class="total-cubic-meters" for="water-usage-input">Enter Amount of Water Used:</label>
    <input type="number" [(ngModel)]="waterUsage" id="water-usage-input" class="rectangle2">
    <button class="calculate-bill" (click)="calculateBill()">Calculate Bill</button>
  </div>
  <div class="bill-amount">
    <p class="total-cubic-meters">Your Bill Amount:</p>
    <span id="bill-amount-display" class="">{{ billAmount }}</span>
  </div>
  <div class="submitbtn">
    <button (click)="submitBill()" >Submit Bill</button>
    <p style="color: red; text-transform: capitalize;" *ngIf="emptyValue">You can not add an empty bill. Please Enter a valid input. and click on calculate Bill button</p>
  </div>
</div>

<div class="header-div-two">
  <!-- <img class="water-icon-header" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"> -->
  <p class="header-two">Due Bills</p>
</div>
<p *ngIf="flag">Loading...</p>

<div class="table-div">
  <table class="bills-table">
    <thead>
      <tr>
        <th></th>
        <th>Bill Date</th>
        <th>Amount Due</th>
       
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of dueBills; let i = index">
        <td><img class="water-icon" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"></td>
        <td [ngStyle]="{'color': !checkLateFees.checkBillDueDate(bill.date) ? 'red' : 'black'}">{{ bill.date }}</td>
        <td>{{ bill.amount }}</td>
       
        <td>
          <div class="table-btn">
            <button class="pay-btn" routerLink="/main/payment" (click)="payBill(i)">Pay</button>
          </div>
        </td>
      </tr>
      <tr *ngIf="DueNone">
        <td colspan="5">No Bills Due</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="header-div-two">
  <!-- <img class="water-icon-header" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"> -->
  <p class="header-two">Recent Bills Paid</p>
</div>

<div class="table-div">
  <table class="bills-table">
    <thead>
      <tr>
        <th></th>
        <th>Bill Date</th>
        <th>Amount Paid</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of paidBills; let i=index;">
        <td><img class="water-icon" src="https://th.bing.com/th/id/R.1571f109c7a005d02e305641e8ffd3e3?rik=QPjnLGfVuY%2fuiw&pid=ImgRaw&r=0" alt="Bill Image"></td>
        <td>{{ bill.date }}</td>
        <td>{{ bill.amount }}</td>
        <td>
          <button class="pay-btn"   (click)="viewReceipt(bill.billid, user.nationalid)">View Receipt</button>
        </td>
      </tr>
      <tr *ngIf="paidNone">
        <td colspan="4">No Bills Paid</td>
      </tr>
    </tbody>
  </table>
</div>