.sidenav-container {
  height: 100vh;
}

.mat-sidenav-content {
  height: 100%;
  background-color: #F5F7FB;
}
.mat-sidenav {
  width: 300px;
  padding-top: 30px;
}
.mat-sidenav {
  font-size: 18px; /* set the font size for the sidenav */
  
}
fa-icon {
  color: #343C44;
}
.mat-sidenav a, #menu {
  font-size: 20px; /* set the font size for the links */
  width: 92%;
  height: 50px;
  margin: 11px;
}

.active-link {
  color: white !important;
  background-color: #343C44; /* set the background color for the active link */
  
}
.active-link fa-icon {
  color: white;
}

.menuu
{
  float: right;
}
#logout:hover
{
  color:red;
}
