.payment {
  width: 80%;
  /* height: 100vh; */
  /* width: 547px; */
  /* height: 500px; */
  /* padding: 2px 2px 2px 2px; */
  /* border-radius: 8px; */
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.center {
  margin: auto;
  width: 65%;
  padding: 10px;
}
h2 {
  width: 280px;
}
.input {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: #767e86;
  border-style: solid;
  width: 100%;
}
.warning {
  color: rgb(215, 6, 6);
  width: 100%;
}
.input-div {
  width: 315px;
  /* height: 100px; */
  margin-bottom: 10px;
}
.btn {
  width: 115px;
  height: 50px;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  background-color: #343c44;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.35);
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  margin-top: 10%;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  color: #767e86;
  box-shadow: none;
}
.bold {
  font-weight: 700;
  font-family: Arial;
  font-size: 20px;
  color: #8c8c8c;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
td {
  background-color: white;
}

#btnDiv {
  text-align: center;
}
.creditcard {
  padding-top: 20px;
  font-size: 16px;
  /* padding-left: 230px; */
  width: 240px;
}
.creditcard input {
  margin: 10px;
  height: 16px;
}
.fawry {
  padding: 30px;
  text-align: center;
  font-size: larger;
}

.card-select {
  margin: 50px;
  /* margin-left: 70px; */
  width: 613px;
  height: 270px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.select-payment {
  padding-top: 20px;
  color: #8c8c8c;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
.form1 {
  color: #8c8c8c;
  padding: 20px;
  font-size: 20px;
}
.form1 input {
  margin: 10px;
}
.button1 {
  font-weight: 900;
  padding: 7px;
  background-color: #3f4a54;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
}
.pay-button {
  margin-top: 30px;
  margin-left: 420px;
}
.confirmButton:disabled {
  color: #767e86;
}
.confirmButton {
  font-weight: 700;
  padding: 7px;
  background-color: #3f4a54;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border: none;
  width: 100px;
  margin-left: 460px;

  font-family: Arial, Helvetica, sans-serif;
}
