<div class="payment">
  <p class="bold">Payment Details</p>
  <table>
    <thead>
      <tr>
        <th>Bill ID</th>
        <th>Service</th>
        <th>Date</th>
        <th>Amount</th>
        <th *ngIf="lateFee">Late Fee Added</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ updatedBill.billid }}</td>
        <td>{{ service }}</td>
        <td [ngStyle]="{ color: lateFee ? 'red' : 'black' }">
          {{ updatedBill.date }}
        </td>

        <td>{{ updatedBill.amount }}</td>
        <td *ngIf="lateFee" [ngStyle]="{ color: lateFee ? 'red' : 'black' }">
          10%
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card-select">
    <div *ngIf="initialize">
      <div class="select-payment">
        <label>Select Payment Method</label>
      </div>
      <form class="form1">
        <input
          type="radio"
          id="option1"
          name="options"
          value="cash"
          [(ngModel)]="selectedOption"
        />
        <label for="option1">Cash</label><br />
        <input
          type="radio"
          id="option2"
          name="options"
          value="credit"
          [(ngModel)]="selectedOption"
        />
        <label for="option2">Credit</label><br />
        <div class="pay-button">
          <button class="button1" (click)="onClick()">Pay</button>
        </div>
      </form>
    </div>
    <div *ngIf="cash">
      <div class="fawry">
        <p>
          Go to the nearest fawry or aman branch to pay using this reference
          number
        </p>
        <div>payment reference :2039454627723</div>
      </div>
    </div>
    <div *ngIf="credit">
      <div class="creditcard">
        <p>enter your credit card details</p>
        <input placeholder="card number" type="number" />
        <input placeholder=" name on card" type="text" />
        <input placeholder="expiry date (mm/dd/yyyy)" />
        <input placeholder="CVV" type="number" maxlength="3" />
      </div>
      <div>
        <div *ngIf="creditPaid">
          <div class="creditpaid">
            <p>Thank You!</p>
            <div>Invoice reference :{{ invoice }}</div>
          </div>
        </div>
        <button
          class="confirmButton"
          *ngIf="showConfirmButton"
          (click)="paid()"
        >
          confirm
        </button>
      </div>
    </div>
  </div>
</div>
