<div class="center">
  <p class="bold">Payment Details</p>
  <table>
    <thead>
      <tr>
        <th>Bill ID</th>
        <th>Service</th>
        <th>Date</th>
        <th>Amount</th>
        <th *ngIf="lateFee">Late Fee Added</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ updatedBill.billid }}</td>
        <td>{{ service }}</td>
        <td [ngStyle]="{ color: lateFee ? 'red' : 'black' }">
          {{ updatedBill.date }}
        </td>

        <td>{{ updatedBill.amount }}</td>
        <td *ngIf="lateFee" [ngStyle]="{ color: lateFee ? 'red' : 'black' }">
          10%
        </td>
      </tr>
    </tbody>
  </table>
  <div class="payment">
    <div *ngIf="initialize">
      <div class="select-payment">
        <label>Select Payment Method</label>
      </div>
      <form class="form1">
        <input
          type="radio"
          id="option1"
          name="options"
          value="cash"
          [(ngModel)]="selectedOption"
        />
        <label for="option1">Cash</label><br />
        <input
          type="radio"
          id="option2"
          name="options"
          value="credit"
          [(ngModel)]="selectedOption"
        />
        <label for="option2">Credit</label><br />
        <div class="center">
          <button class="btn" (click)="onClick()">Pay</button>
        </div>
      </form>
    </div>
    <div *ngIf="cash">
      <div class="fawry">
        <p>
          Go to the nearest fawry or aman branch to pay using this reference
          number
        </p>
        <div>payment reference :2039454627723</div>
      </div>
    </div>
    <div *ngIf="credit" class="center">
      <form [formGroup]="creditForm" class="creditcard">
        <div>
          <h2>Enter your credit card details</h2>

          <div class="input-div">
            <input
              placeholder="card number"
              formControlName="cardnumber"
              type="number"
              class="input"
            />
            <div
              *ngIf="
                creditForm.get('cardnumber')?.invalid &&
                (creditForm.get('cardnumber')?.dirty ||
                  creditForm.get('cardnumber')?.touched)
              "
            >
              <span
                class="warning"
                *ngIf="creditForm.get('cardnumber')?.errors?.['required']"
              >
                Card Number is required
              </span>
              <span
                class="warning"
                *ngIf="creditForm.get('cardnumber')?.errors?.['pattern']"
              >
                Card Number should be exactly 16 digits
              </span>
            </div>
          </div>
          <div class="input-div">
            <input
              placeholder="name on card"
              formControlName="cardname"
              type="text"
              class="input"
            />
            <div
              *ngIf="
                creditForm.get('cardname')?.invalid &&
                (creditForm.get('cardname')?.dirty ||
                  creditForm.get('cardname')?.touched)
              "
            >
              <span
                class="warning"
                *ngIf="creditForm.get('cardname')?.errors?.['required']"
              >
                Card Name is required
              </span>
            </div>
          </div>
          <div class="input-div">
            <input class="input" formControlName="carddate" type="date" />
            <div
              *ngIf="
                creditForm.get('carddate')?.invalid &&
                (creditForm.get('carddate')?.dirty ||
                  creditForm.get('carddate')?.touched)
              "
            >
              <span
                class="warning"
                *ngIf="creditForm.get('carddate')?.errors?.['required']"
              >
                Card Date is required
              </span>
            </div>
          </div>
          <div class="input-div">
            <input
              class="input"
              placeholder="CVV"
              type="number"
              formControlName="cardcvv"
            />
            <div
              *ngIf="
                creditForm.get('cardcvv')?.invalid &&
                (creditForm.get('cardcvv')?.dirty ||
                  creditForm.get('cardcvv')?.touched)
              "
            >
              <span
                class="warning"
                *ngIf="creditForm.get('cardcvv')?.errors?.['required']"
              >
                Card CVV is required
              </span>
              <span
                class="warning"
                *ngIf="creditForm.get('cardcvv')?.errors?.['pattern']"
              >
                Card CVV should be exactly 3 digits
              </span>
            </div>
          </div>
        </div>
        <div class="center">
          <button
            class="btn"
            *ngIf="showConfirmButton"
            (click)="paid()"
            [disabled]="creditForm.invalid"
          >
            confirm
          </button>
        </div>
      </form>
      <div>
        <div *ngIf="creditPaid">
          <div class="creditpaid">
            <p>Thank You!</p>
            <div>Invoice reference :{{ invoice }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
