<div class="container">
  <h1 class="header">Your Accounts</h1> 
  <br>
<button class="button-primary" (click)="navigate()">Pre-Paid Plans</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button-primary" (click)="navigate1()">Post-Paid Plans</button>

<div id="accounts">
  <table class="table">
    <thead>
      <tr>
        <th>Account ID</th>
        <th>Service Provider</th>
        <th>Telephone Number</th>
        <th>Type</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts ; let accountid=index">
        <td>{{ accountid+1 }}</td>
        <td>{{ account.serviceProvider | titlecase }}</td>
        <td>{{ account.telephoneNo }}</td>
        <td>{{ account.type }}</td>
       
        <td>
          <button class="button-secondary" (click)="viewAccount(account)">
            View
          </button>
        </td>
      </tr>
      <tr> <td colspan="4" *ngIf="flagOfEmptyAccounts">You do not own a telephone number yet. Subscribe to one of our service providers</td></tr>
    </tbody>
  </table>
</div>
</div>
