.card {
  background-color: #f5f6cb;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
  padding: 1rem;
  margin: 10px;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}


.button-primary {
  align-items: center;
  margin-left: 10px;
  margin-top: 20px;
  width:90%;
  display: inline-block;
  /* background-color: #007bff; */
  background-color:  #000000;;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  /* margin-bottom: 2rem; */
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #373737;
}
