.sidenav-container {
    height: 100vh;
  }
  
  .mat-sidenav-content {
    height: 100%;
    background-color: grey;
  }
  .mat-sidenav {
    width: 300px;
  }
  .mat-sidenav {
    font-size: 18px; /* set the font size for the sidenav */
  }
  
  .mat-sidenav a, #menu {
    font-size: 20px; /* set the font size for the links */
    width: 100%;
  }
  .active-link {
    background-color: blue; /* set the background color for the active link */
  }
  .menuu
  {
    float: right;
    

  }
  
  