<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Add your navigation links here -->
    <div class="div-button">
      <a mat-button routerLink="/main/home"  routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }" >  
        <fa-icon [icon]="faHouse" style="margin-right: 15px; margin-left: -60px;"></fa-icon>
        Home
      </a>
    </div>

    <div class="div-button">
      <a mat-button routerLink="/main/electricity" routerLinkActive="active-link">
        <fa-icon [icon]="faBoltLightning" style="margin-right: 20px; margin-left: -10px;"></fa-icon>
        Electricity
      </a>
    </div>

    <div class="div-button">
      <a mat-button routerLink="/main/water" routerLinkActive="active-link">
        <fa-icon [icon]="faDroplet" style="margin-right: 20px; margin-left: -55px;"></fa-icon>
        Water
      </a>
    </div>

    <div class="div-button">
      <a mat-button  routerLink="/main/telephone" routerLinkActive="active-link">
        <fa-icon [icon]="faPhone" style="margin-right: 20px; margin-left: -10px;"></fa-icon>
        Telephone
      </a>
    </div>

    <!-- <div class="sub-button" *ngIf="currentTap==='telephone'">
      <a mat-button  routerLink="/main/serviceproviders" routerLinkActive="active-link">
        <fa-icon [icon]="faSimCard" style="margin-right: 10px; margin-left: -7px;"></fa-icon>
        Service Providers
      </a>
    </div> -->

  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add your page content here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 