<div class="bg">
  <div id="register" class="center">
    <h2 id="welcome-back" class="center">Register</h2>
    <form (ngSubmit)="register(user)">
      <div class="center">
        <div class="input-div">
          <label class="login-label">Email:</label>
          <input
            class="login-input"
            type="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </div>
        <div class="input-div">
          <label class="login-label">Password:</label>
          <input
            class="login-input"
            type="password"
            [(ngModel)]="user.password"
            name="password"
            required
          />
        </div>
        <div class="input-div">
          <label class="login-label">First Name:</label>
          <input
            class="login-input"
            type="text"
            [(ngModel)]="user.firstName"
            name="firstName"
            required
          />
        </div>
        <div class="input-div">
          <label class="login-label">Last Name:</label>
          <input
            class="login-input"
            type="text"
            [(ngModel)]="user.lastName"
            name="lastName"
            required
          />
        </div>
        <div class="input-div">
          <label class="login-label">National ID:</label>
          <input
            class="login-input"
            [(ngModel)]="user.nationalId"
            name="nationalId"
            required
          />
        </div>
      </div>
      <div class="center">
        <button class="login-btn" type="submit" (click)="register(user)">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
