<div class="container">
<div class="bill-tables">
    <h1> Your Account Information</h1>
</div>
    <div class="cards">
    <div class="card account-info">
      <h1>Account Info</h1>
      <p>Account ID: {{ account.accountid }}</p>
      <p>Service Provider: {{ account.serviceProvider }}</p>
      <p>Telephone No: {{ account.telephoneNo }}</p>
    </div>
    <div class="card offer-info">
      <h1>Offer Info</h1>
      <p>Offer ID: {{ account.offerid }}</p>
      <p>Offer Name: {{ offer.category }}</p>
      <p>Offer Minutes: {{ offer.minutes }}</p>
      <p>Offer Price / month: {{ offer.price | currency:'EGP' }}</p>
    </div>
</div>
    <!-- <div class="bill-tables">
      <h1>Bills</h1>
      <div class="bill-table">
        <h2>Due Bills</h2>
        <table>
          <thead>
            <tr>
              <th>Bill ID</th>
              <th>Amount</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>100</td>
              <td>May 31, 2023</td>
            </tr>
            <tr>
              <td>2</td>
              <td>150</td>
              <td>June 15, 2023</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bill-table">
        <h2>Paid Bills</h2>
        <table>
          <thead>
            <tr>
              <th>Bill ID</th>
              <th>Amount</th>
              <th>Paid Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3</td>
              <td>75</td>
              <td>May 1, 2023</td>
            </tr>
            <tr>
              <td>4</td>
              <td>200</td>
              <td>May 15, 2023</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>