<div class="container">
<div class="bill-tables">
    <h1> Your Account Information</h1>
</div>
    <div class="cards">
    <div class="card account-info">
      <h1>Account Info</h1>
      <p>Account ID: {{ account.accountid }}</p>
      <p>Service Provider: {{ account.serviceProvider }}</p>
      <p>Telephone No: {{ account.telephoneNo }}</p>
    </div>
    <div class="card offer-info">
      <h1>Offer Info</h1>
      <p>Offer ID: {{ account.offerid }}</p>
      <p>Offer Name: {{ offer.category }}</p>
      <p>Offer Minutes: {{ offer.minutes }}</p>
      <p>Offer Price / month: {{ offer.price | currency:'EGP' }}</p>
    </div>
</div>
</div>
<div class="pay-button">
  <button  (click)="pay()">Pay</button>
</div>